 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
 // #10
       <% if @user.avatar_url(128) %>
         <div class="media-left">
 // #11
           <%= image_tag @user.avatar_url(128), class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 
 // #12
 <h2>Posts</h2>
 <%= user_posts_if_any(@user.posts) %>
 
 <h2>Comments</h2>
 <%= user_comments_if_any(@user.comments) %>

 <h2>Favorites</h2>
 <%= render @user.favorited_posts %> 